doctype html
html(lang="ko")
    head
        title #{pageTitle} / #{siteName}
        link(link rel="stylesheet" href="https://unpkg.com/mvp.css@1.12/mvp.css")
    body
        haeder 
        h1 #{pageTItle}
        nav    
            ul 
                li 
                    
                    li 
                    a(href="/") home
                    if loggedIn 
                        li
                        a(href="/users/edit") Edit Profile
                        li
                        a(href=`/users/${loggedInUser._id}`) My Profile
                        li 
                        a(href="/users/logout") Log out
                        li
                        a(href="/videos/upload") Upload Video            
                    else   
                        li 
                        a(href="/join") join
                        li 
                        a(href="/login") login    
                    li 
                    a(href="/search") search
                         
        main
            block content
    include partials/footer.pug
    